body {
	padding-left: 6px;
	margin-bottom: 120px;
}

ul#ulContents li {
	list-style-type: none;
}

h2 {
	color: white;
	background-color: #000066;
	clear:both;
	padding-left: 5px;
	padding-bottom: 3px;
}

h2.sticky {
	position: sticky;
	top: 0;
	z-index: 4;
	padding-left: 5px;
	padding-bottom: 3px;

}

h3 {
	padding-left: 5px;
	padding-bottom: 3px;
	margin-top: 120px;
	position: sticky;
	top: 0;
	color: white;
	background-color: #006600;
	z-index: 3;
	clear:both;
	/*This causes overflow but also keeps sticky headers a uniform size*/
	white-space: nowrap;
	max-width: 100%;
}
.TOCSectionHeading {
	background-color: #006600;
	color: white;
	max-width: 50%;
	padding: 5px;
	margin-bottom: 8px;
	margin-top: 20px;
}


.TOCSectionHeading a {
	text-decoration: none;
}
.TOCSectionHeading a:link {
	color: white;
}
.TOCSectionHeading a:hover {
	color: white;
}
.TOCSectionHeading a:visited {
	color: white;
}
.TOCSectionHeading a:active {
	color: white;
}

figure {
  display: table;
  min-width: 20%;
}

figure.float-large {
	float: right;
	clear: right;
	max-width: 70%;
}
figure.float-medium {
	float: right;
	clear: right;
	max-width: 50%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

img.Figure{
	max-width:min(850px, 100%);height:auto
} 

#nav div {
	display:inline-block;
	background:rgba(50,50,50, 0.2);
	border:1px solid #aaa;
	border-radius:0.3em;
	padding:0.3em;
	position:fixed;
}

div#next {
	right:0.3em;	bottom:0.3em;
	z-index: 9;
}

div#contents {
	right:4.5em;
	bottom:0.3em;
	z-index: 9;
}

#toTop{
	display:inline-block;
	background:rgba(50,50,50, 0.2);
	border:1px solid #aaa;
	border-radius:0.3em;
	padding:0.3em;
	position:fixed;
	right:0.3em;
	bottom:2.5em;
	z-index: 9;
}

div#nav div a{
	color:#000;text-decoration:none
}

#toTop a{
	color:#000;text-decoration:none
}

a, .wrapWord{
	overflow-wrap:break-word
}

hr {
	display: none;
	}

.figdiv {
	clear: right;
	float: right;
	margin: 30px;
	max-width: 65%;
	min-width: 50%;
}

@media only screen and (max-width: 1100px) {
	figure.float-large {
		float:none;
		max-width: 100%;
		min-width: 30%;
	}
	
}

@media only screen and (max-width: 900px) {
	figure.float-large {
		float:none;
		max-width: 100%;
		min-width: 40%;
	}
	
}

@media only screen and (max-width: 550px) {
	.figdiv {
		float:none;
		max-width: 100%;
	}
	.figdiv figure {
		float: none;
	}
	figure.float-medium {
		float:none;
		max-width: 100%;
		min-width: 50%;
	}
}

#Table17-3 tr:nth-child(even){background-color: #f2f2f2;}