#front-cover {
	color: white; 
	height: 800px; 
	background-image: url('images/cover.gif');  
	background-repeat: no-repeat; 
	background-color: rgb(42, 4, 66);
}
#header-overlay {
	margin: 30px;
	margin-top: 0px;

}
#Cheshire {
	margin-top: 10px; max-height: 60px; max-width: 95%;
}
body  {
	padding-left: 6px;
	margin-bottom: 120px;
	
}
body p {
	font-family: Roboto;
	margin-left: 10px;
	margin-right: 10px;
}

ul#ulContents li {
	list-style-type: none;
}
#ulContents a {
	text-decoration: none;
}
#ulContents li:hover {
	background-color: rgb(195, 149, 237);
	color: white;

}
#ulContents a:hover {
	color: black;
}
h2 {
	color: white;
	background-color: #000066;
	clear:both;
	padding-left: 5px;
	padding-bottom: 3px;
}

h2.sticky {
	position: sticky;
	top: 0;
	z-index: 4;
	padding-left: 5px;
	padding-bottom: 3px;
	font-family: 'Road Rage',Roboto,Arial; font-size: 2.5em; font-weight: 100;
}

h3 {
	padding-left: 5px;
	padding-bottom: 3px;
	margin-top: 120px;
	position: sticky;
	top: 0;
	color: white;
	background-color: #006600;
	z-index: 3;
	clear:both;
	/*This causes overflow but also keeps sticky headers a uniform size*/
	white-space: nowrap;
	max-width: 100%;
	
}
h3.fit i{
	font-family: 'Mystery Quest','Times New Roman', Times, serif; font-size: 0.9em; font-weight: 100;
}
.section-subhead {
	font-family: 'Road Rage',Arial, Helvetica, sans-serif; font-size: 1.5em; font-weight: 100;
}
.dialog {
	font-family: "Vend Sans", sans-serif; font-weight: 100;
}
.textmessage {
	color: white;
	background-color: #17be17;
	padding: 5px;
	border-radius: 5px;
}
.TOCSectionHeading {
	background-color: #006600;
	color: white;
	max-width: 50%;
	padding: 5px;
	margin-bottom: 8px;
	margin-top: 20px;
}


.TOCSectionHeading a {
	text-decoration: none;
}
.TOCSectionHeading a:link {
	color: white;
}
.TOCSectionHeading a:hover {
	color: white;
}
.TOCSectionHeading a:visited {
	color: white;
}
.TOCSectionHeading a:active {
	color: white;
}

blockquote.equation {
	border-style: double;
	padding: 10px;
	clear: both;
}

.bordered_table, .bordered_table th, .bordered_table td {
	border: 1px solid black;
  	border-collapse: collapse;
	padding: 3px;
}
/*
figure {
  display: table;
  min-width: 20%;
}

figure.float-large {
	float: right;
	clear: right;
	max-width: 70%;
}
figure.float-medium {
	float: right;
	clear: right;
	max-width: 50%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

.figdiv {
	clear: right;
	float: right;
	margin: 30px;
	max-width: 65%;
	min-width: 50%;
}

img.Figure{
	max-width:min(850px, 100%);height:auto
} 
*/

#nav div {
	display:inline-block;
	background:rgba(185, 185, 185, 0.75);
	border:1px solid #aaa;
	border-radius:0.3em;
	padding:0.3em;
	position:fixed;
}

div#next {
	right:0.3em;	bottom:0.3em;
	z-index: 9;
}

div#contents {
	right:4.5em;
	bottom:0.3em;
	z-index: 9;
}

#toTop{
	display:inline-block;
	background:rgba(50,50,50, 0.5);
	border:1px solid #aaa;
	border-radius:0.3em;
	padding:0.3em;
	position:fixed;
	right:0.3em;
	bottom:2.5em;
	z-index: 9;
}

div#nav div a{
	color:#000;text-decoration:none
}

#toTop a{
	color:#000;text-decoration:none
}

a, .wrapWord{
	overflow-wrap:break-word
}

hr {
	display: none;
	}



@media only screen and (max-width: 1100px) {
	/*
	figure.float-large {
		float:none;
		max-width: 100%;
		min-width: 30%;
	}
	*/

	#front-cover {
		background-size: 100%;
		height: 600px;

	}
	
}

@media only screen and (max-width: 900px) {
	/*figure.float-large {
		float:none;
		max-width: 100%;
		min-width: 40%;
	}*/
	#front-cover {
		height: 500px;
	}
}

@media only screen and (max-width: 700px) {
	#header-overlay {
		margin: 30px;

	}
	#front-cover {
		height: 300px;
		padding-top: 300px;
	}
}
@media only screen and (max-width: 600px) {
	#header-overlay {
		margin: 20px;

	}
}
@media only screen and (max-width: 550px) {
	/*
	.figdiv {
		float:none;
		max-width: 100%;
	}
	.figdiv figure {
		float: none;
	}
	figure.float-medium {
		float:none;
		max-width: 100%;
		min-width: 50%;
	}
		*/
	#front-cover {
		height: 300px;
		padding-top: 200px;
	}
}

#Table17-3 tr:nth-child(even){
	background-color: #f2f2f2;
}

span.row_vector {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #000066;
	font-size: 0.9em;
}